@charset "UTF-8";
header img {
  vertical-align: middle;
}
header .contents {
  position: absolute;
  top: 500px;
  height: 65px;
  width: 100%;
  background-color: #00bfff;
}
header .contents img {
  height: 40px;
}
header .contents img:hover {
  opacity: 0.7;
}
header .contents ul {
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-content: space-between;
  justify-content: space-around;
  color: #000;
  background-color: #00bfff;
  box-shadow: 1px 2px 10px #00bfff;
}
header .contents ul li {
  color: #000;
  font-size: 1.1rem;
  font-weight: bold;
  flex-wrap: wrap-reverse;
}
header .contents ul li a {
  padding: 20px 20px;
  text-decoration: none;
  border-radius: 10px;
}
header .contents ul li a:visited {
  color: #fff;
  background-color: #00bfff;
}
header .contents ul li a:hover {
  color: #00bfff;
  background-color: #fff;
}

/* 追従ナビゲーションのスタイル */
header .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  z-index: 1;
}
header .sticky img {
  height: 40px;
}
header .sticky ul {
  width: 100%;
  height: 65px;
  float: left;
  display: flex;
  align-items: center;
  box-shadow: 1px 2px 10px #00bfff;
}
header .sticky ul li {
  color: #000;
  font-size: 1.1rem;
  font-weight: bold;
  flex-wrap: wrap-reverse;
}
header .sticky ul li a:hover {
  color: #00bfff;
  background-color: #fff;
}

main {
  background-color: #fff;
}
main #main-contents {
  padding-top: 30px;
}
main #main-contents #introduction {
  width: 800px;
  margin: 0 auto 30vh auto;
  font-size: 1.6rem;
  line-height: 2.7rem;
}
main #main-contents #introduction h1 {
  margin: 30px 280px;
  text-align: center;
  font-size: 2rem;
  background: #bcff7a;
  border-radius: 100%;
}
main #main-contents #introduction p .fon {
  font-weight: bold;
}

/* 共通のスタイル */
body img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body #twitter {
  margin: 0 auto;
}
body #twitter #twitter-anchor {
  display: flex;
  align-items: center;
  justify-content: center;
}
body #twitter #twitter-anchor #twitter-image {
  height: 100px;
  width: 100px;
  margin-right: 35px;
}
body #twitter #twitter-anchor span {
  position: relative;
  top: -35px;
  text-align: center;
  font-size: 1.6rem;
  color: #000;
}
body #twitter .timeline-area {
  width: 400px;
  height: 600px;
  margin: 0 auto;
}
body #twitter h1 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 3%;
}
body #twitter #staffs-1 {
  display: flex;
  justify-content: flex-end;
}
body #twitter #staffs-1 .staff {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}
body #twitter #staffs-1 .staff img {
  width: 220px;
  height: 210px;
  border-radius: 50%;
}
body #twitter #staffs-2 {
  display: flex;
  justify-content: flex-start;
}
body #twitter #staffs-2 .staff {
  width: 220px;
  height: 220px;
}
body #twitter #staffs-2 .staff img {
  width: 220px;
  height: 210px;
  border-radius: 50%;
}
body footer {
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
}