@charset "utf-8";


//common.scssで関数を呼び出す
//    ファイル名.関数名(引数);

// カラーコードテンプレ
$colors: (
    main: #fff,
    sub: #bcff7a,
    accent: #00bfff,
    fontColor:#000,
) !default;

@function color($color){
    @return #{map-get($colors, $color)}
};